<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Squarespace Template Helper Sandbox</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Project Compiled CSS -->
        <!-- <link rel="stylesheet" href="../template/assets/css/app.css"> -->

        <!-- Project Compiled & Minified CSS -->
        <link rel="stylesheet" href="assets/css/app.min.css">

    </head>
    <body>

        <!-- Add misc HTML to this sandbox page to test ideas. -->

        <section class="er-bg-container">
            <img src="assets/img/01_citypage.jpg" alt="" />
            <img src="assets/img/02_nike.jpg" alt="" />
            <img src="assets/img/03_converse.jpg" alt="" />
            <img src="assets/img/04_sb.jpg" alt="" />
            <img src="assets/img/05_kd9.jpg" alt="" />
            <img src="assets/img/06_Lokai.jpg" alt="" />
            <img src="assets/img/07_chromebook.jpg" alt="" />
            <img src="assets/img/08_about.jpg" alt="" />
        </section>

        <section class="er-main-container">
            <h1 class="er-logo-title">Elton Rhee</h1>
            <nav class="er-secondary-nav">
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Photos</a></li>
                    <li><a href="">Design</a></li>
                </ul>
            </nav>
            <nav class="er-main-nav">
                <ul>
                    <li><a href="">city page</a></li>
                    <li><a href="">nike+ live</a></li>
                    <li><a href="">converse.com</a></li>
                    <li><a href="">sb garage</a></li>
                    <li><a href="">kd9</a></li>
                    <li><a href="">lokai water bottle</a></li>
                    <li><a href="">chromebook_type</a></li>
                    <li><a href="">about me</a></li>
                </ul>
            </nav>
        </section>

        <!-- Project Compiled JS -->
        <script src="assets/js/app.js"></script>

        <!-- Project Compiled & Minified JS -->
        <!-- <script src="assets/js/app.min.js"></script> -->

    </body>
</html>