@font-face {
  font-family: 'FuturaStd-LightOblique';
  src: url('../fonts/FuturaStd-LightOblique.eot');
  src: url('../fonts/FuturaStd-LightOblique.woff2') format('woff2'),
       url('../fonts/FuturaStd-LightOblique.woff') format('woff'),
       url('../fonts/FuturaStd-LightOblique.ttf') format('truetype'),
       url('../fonts/FuturaStd-LightOblique.svg#FuturaStd-LightOblique') format('svg'),
       url('../fonts/FuturaStd-LightOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaStd-Light';
  src: url('../fonts/FuturaStd-Light.eot');
  src: url('../fonts/FuturaStd-Light.woff2') format('woff2'),
       url('../fonts/FuturaStd-Light.woff') format('woff'),
       url('../fonts/FuturaStd-Light.ttf') format('truetype'),
       url('../fonts/FuturaStd-Light.svg#FuturaStd-Light') format('svg'),
       url('../fonts/FuturaStd-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

