/******************************************************************************
 * Your Site Name
 * Copyright Your Site Name. All rights reserved.
*******************************************************************************/



/******************************************************************************
 * Config
*******************************************************************************/
@import "config/variables";
@import "config/mixins";



/******************************************************************************
 * Core
*******************************************************************************/
@import "core/grid";
@import "core/fonts";
@import "core/icons";



/******************************************************************************
 * UI & State
*******************************************************************************/
@import "state/modifiers";

.er-main-container {
	position: relative;
	width: 100vw;
	height: 100vh;

	display: flex;
}

/******************************************************************************
 * Modules
*******************************************************************************/
@import "modules/footer";
@import "modules/header";
@import "modules/nav";
@import "modules/images";




